@font-face {
    font-family: 'Ghost Marker';
    src: url('GhostMarker.woff2') format('woff2'),
        url('GhostMarker.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

